{{!-- Public gallery --}}

<div class="hero is-black is-medium hero is-black is-medium battle-hero-bg-img">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-two-thirds">
                    <h1 class="title"><span><i class="far fa-eye"></i></span> Public Gallery </h1>
                    <h2 class="subtitle mt-3"> Browse the designs of other users. Find <a class="has-text-warning" href="/getInspired"><span
                            class="has-text-warning">
                            <i class="far fa-lightbulb"></i></span>&nbsp inspiration</a> to create  
                    <a class="has-text-success is-link" href="/cards/my-deck-of-cards"><span class="has-text-success"><i class="far fa-plus-square"></i></span> your own cards</a> or simply print them to use in
                        your <a class="has-text-danger-dark" href="/battlegrounds"><span class="has-text-danger-dark"><i class="fas fa-fire-alt"></i></span> battles</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="hero is-dark is-medium big-battle-bg">
    <div class="hero-body">
        <div class="container has-text-centered">

            <div class="columns is-multiline">
                {{#each card}}
                <div class="column is-3">
                    <a href="/cards/details/{{id}}" class="link-more">
                        <div class="card-front">
                            <p class="title is-4 card-name">{{name}}</p>
                            <div class="body-img"><img src="{{avatarBody}}" alt=""></div>
                            <div class="head-img"><img src="{{avatarHead}}" alt=""></div>
                            <div class="eyes-img"><img src="{{avatarEyes}}" alt=""></div>
                            <div class="mouth-img"><img src="{{avatarMouth}}" alt=""></div>
                            <div class="hair-img"><img src="{{avatarHair}}" alt=""></div>
                            <div class="helmet-img"><img src="{{avatarHelmet}}" alt=""></div>
                            <div class="subtitle is-6 race-class">{{race}} {{classe}} </div>
                            <div class="water-mark subtitle is-6 has-text-grey-light">my-watermark.com</div>
                        </div>
                    </a>
                    <div class="buttons is-grouped is-centered mt-2">
                        <a class="button is-small is-white is-outlined" href="/cards/details/{{id}}">Details &nbsp<span>
                                <i class="far fa-eye"></i></span></a>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </div>
</section>